@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

body{
    background-color: #f0f2f5;
}

.container{
    padding-top: 18vh;
    display: flex;
    justify-content: space-evenly;
    justify-self: center;
}


.logo-section{
    padding-top: 40px;
    width: 500px;
    height: 400px;
}

.logo{
    width: 301px;
    height: 106px;
}

.logo-text h2{
    margin-left: 30px;
    font-weight: lighter;
    font-size: 2rem;
}


.regform{
    border: 1px solid #ffffffdb;
    border-radius: 6px;
    box-shadow: 3px 3px 15px #80808074;
    width: 396px;
    height: 350px;
    background-color: #fff;
    text-align: center;
}

.email,.password {
    border: 1px solid #bab4b46d;
    border-radius: 6px;
    margin: 10px;
    padding: 10px;
    width: 85%;
    height: 30px;
    font-size: 17px;
}

.email:focus, .password:focus{
    outline: none;
    border-color: #1877f2;
    box-shadow: 1px 1px 15px -8px  ;
}

#login{
    height: 50px;
    width: 90%;
    padding: 5px;
    border-radius: 6px;
    background-color: #1877f2;
    color: white;
    border: none;
    font-weight: bold;
    font-size: 1.1rem;
    cursor: pointer;
    
}

.regform hr{
    opacity: 30%;
    margin: 0px 20px 0px 20px;
}

#naccount{
    margin-top: 15px;
    height: 50px;
    width: 50%;
    padding: 5px;
    border-radius: 6px;
    background-color: #42b72a;
    color: white;
    border: none;
    font-weight: bold;
    font-size: 1.1rem;
    cursor: pointer;
}

#naccount:hover{
    background-color: #399926;
}

#forgot {
    text-decoration: none;
    font-size: 15px;
    color: #1877f2;
}

#forgot:hover{
    text-decoration: underline;
}

.regtext h3{
    font-weight: lighter;
    padding: 45px 10px 10px 10px;
}

#create {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

#create:hover{
    text-decoration: underline;
}